<div class="alert">
  <!-- <div class="col-md-8"> -->
    
    <h4 class="alert alert-cdk">{{sheetName}}
      <div class="col-sm-3 col-md-3 pull-right">

        <div class="input-group">
          <input type="text" 
                 class="form-control" 
                 placeholder="search" 
                 name="search"
                 ng-change="searchGrid()"
                 ng-model="searchText">
          <div class="input-group-btn">
            <div class="btnGlyph" ng-click="clearSearch();">
              <i class="glyphicon glyphicon-refresh"></i>
            </div>
          </div>
        </div>  

      </div> 
    </h4>     

    <div>
      <div class="grid" 
           ui-grid="gridOptions" 
           ui-grid-pagination 
           ui-grid-exporter 
           ui-grid-resize-columns 
           ui-grid-auto-resize 
           ui-grid-selection 
           style="font-size: 10px;">
      </div>

    </div>
    <br><br>

    <button class="btn btn-lg btn-cdk btn-block" 
            type="button" 
            ng-click="btnDone();">{{prompts.btnDone}}
    </button>
  <!-- </div> -->
</div>