<div class="alert">
  <!-- <div class="col-md-8"> -->
    
    <h4 class="alert alert-cdk">{{sheetName}}
      <div class="col-sm-3 col-md-3 pull-right has-feedback">
        <div class="input-group-sm moveUp">
          <input type="text" 
                 class="form-control" 
                 ng-change="searchGrid()" 
                 placeholder="search"
                 ng-model="searchText" />
          <i class="form-control-feedback moveUp moveLeft glyphicon glyphicon-filter"></i>                   
        </div>
      </div> 
    </h4>     

    <div>
      <div class="grid" 
           ui-grid-edit
           ui-grid-selection
           ui-grid-cellNav
           style="font-size: 12px;"
           ui-grid="gridOptions" ui-grid-exporter>
      </div>
    </div>
    <br><br>
    <button class="btn btn-lg btn-cdk btn-block" 
            type="button" 
            ng-click="btnDone();">{{prompts.btnDone}}
    </button>
  <!-- </div> -->
</div>